# VAY365 - Production Environment
DATABASE_URL="mysql://root@127.0.0.1:3306/vay365"
NODE_ENV=production
HOSTNAME=0.0.0.0
PORT=3000
JWT_SECRET="REPLACE-ME-WITH-RANDOM-SECRET-MIN-32-CHARS-abc1234567890"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
